##### Database #####
DB_USER=
DB_NAME=
DB_PASSWORD=

# AuthJs Config runnin: openssl rand -base64 32
AUTH_SECRET=

# Cloudinary Config
# from https://console.cloudinary.com/settings/c-d681e3052438f8f6531b74b95e72ec/api-keys
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@dfnw2nbhp

##### PayPal Config ##### from https://developer.paypal.com/dashboard/applications
# Buyer email: sb-sb6pk32345152@personal.example.com
# Buyer password: Abc123456
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
# POST
PAYPAL_OAUTH_URL=
#GET
PAYPAL_ORDERS_URL=


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/teslo-shop?schema=public"